.bc-white {
    background-color: #fff;
}

.bc-cyan {
    background-color: #37c9e1;
}

.bc-gray {
    background-color: #404547;
}

.bc-red {
    background-color: #ff603b;
}

.bc-light-gray {
    background-color: #818286;
}

.bc-light-green {
    background-color: #39d4ba;
}

.bc-orange {
    background-color: #fea143;
}

.bc-dark-blue {
    background-color: #252d38;
}

.bc-blue {
    background-color: #4f66c2;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background-color: #fff;
    color: #777;
    line-height: 1.6;
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:300;
    -webkit-font-smoothing:antialiased;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50%;
}

.bt {
    border-top: 1px solid #dbdbdb;
}

.br {
    border-right: 1px solid #dbdbdb;
}

.layout {
    padding-left: 160px;
    position: relative;
    left: 0;
}

.sidebar {
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #3e4648;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    margin-top: 70px;
}

.brand-title {
    font-size: 1.5em;
    color: #ff603b;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #c7c7c7;
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    text-align: center;
}

.menu-list1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item1 {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 3em;
}

.menu-item1 a {
    color: #c6c7c9;
}

.menu-item1.active {
    background-color: #373c3f;
}

.menu-item1.active a {
    color: #fff;
}

.menu-item1.active::before {
    border: 1px solid #faa152;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.menu-item1:hover {
    background-color: #373c3f;
    color: #fff;
}

.header {
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 2em;
    overflow: hidden;
    margin-left: 160px;
}

.main-content {
    background-color: #f9fafb;
    height: calc(100vh - 70px);
}

.header-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-nav-item {
    display: inline-block;
    margin-right: 2em;
}

.header-nav-item a {
    text-decoration: none;
    color: #252d38;
}

.header-nav-item a:hover {
    color: #4f66c2;
}

.header-nav-item.active a {
    font-weight: 400;
}

.main-content .tile.is-ancestor {
    margin: 0;
}

.main-content .tile.is-parent {
    padding: 0;
}

.editor {
    position: relative;
}

.create-file {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    margin: -8px 10px;
    cursor: pointer;
    color: #ff603b;
}

.editor .tabs {
    margin-bottom: 0;
}

.tabs a {
    padding: 0.5em 1.5em;
}

.tabs a span.delete {
    margin-left: 20px;
    display: none;
}

.tabs li.is-active a {
    border-bottom-color: #4f66c2;
    color: #4f66c2;
}

.tabs li.is-active a:hover span.delete {
    display: block;
}

#editor {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
}

.ace-xcode .ace_gutter {
    background-color: #f9fafb;
}
