{{#module}}
    <div class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4" data-region="menu"></div>
        <div class="content pure-u-1 pure-u-md-3-4" data-region="content"></div>
    </div>
{{/module}}